@import '~bootstrap/scss/bootstrap';
main {
  padding-top: 10px;
}

#preview-map {
  border: solid;
  height: 100%;
  @include media-breakpoint-down(md) {
    height: 300px;
  }
}

.right-column-container {
  display: flex;
  flex-direction: column;
}
